[Unit]
Description=FilePi Server
After=network.target

[Service]
Type=simple
ExecStart=filepi
Environment="FILE_PI_ROOT_DIR=/path/to/data"
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=filepi
StandardOutput=append:/var/log/filepi.log
StandardError=append:/var/log/filepi_error.log

[Install]
WantedBy=multi-user.target